<div class="garments-edit">
	<div class="container">
  	<div class="row">
   		<h3 class="title">投稿編集</h3>

   		<%= form_for(@garment) do |f| %>

   			<div class="row">
   				<div class="form-group">
	   				<div class="row">
							<%= f.label :写真, class: "control-label text-left col-sm-2 col-md-2" %><br />
            </div>
            <div class="file-field">
							<%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
						</div>
					</div>
				</div>

			　<div class="row">
        	<div class="form-group">
          	<div class="row">
							<%= f.label :タイトル, class: "control-label text-left col-sm-2 col-md-2" %><br />
            </div>
							<%= f.text_field :title, class: "form-control" %>
					</div>
			　</div>

			　　<div class="row">
        	<div class="form-group">
          	<div class="row">
							<%= f.label :カテゴリー, class: "control-label text-left col-sm-2 col-md-2" %><br />
						</div>
							<%= f.select :type, Garment.types.keys.to_a, include_blank: '選択してください' %>
					</div>
			　</div>

			　　<div class="row">
        	<div class="form-group">
          	<div class="row">
							<%= f.label :本文, class: "control-label text-left col-sm-2 col-md-2" %><br />
						</div>
							<%= f.text_area :body, class: "form-control" %>
			  	</div>
			  </div>

			   <div class="row">
        	<div class="form-group">
          	<div class="row">
							<%= f.label :タグ, class: "control-label text-left col-sm-2 col-md-2" %><br />
						</div>
							<%= f.text_field :tag_list, class: "form-control", value: @garment.tag_list.join(',') %>
					</div>
			  </div>

			   <!-- 星による評価機能 -->
			  <div class="row">
        	<div class="form-group">
				  	<div id="star">
				  		<div class="row">
								<%= f.label :評価, class: "control-label text-left col-sm-2 col-md-2" %><br />
							</div>
								<%= f.hidden_field :rate, class: "form-control", id: :review_star %>
						</div>
					</div>
				</div>

				<script>
				$('#star').raty({
					size :36,
					starOff: '<%= asset_path('star-off.png') %>',
					starOn : '<%= asset_path('star-on.png') %>',
					starHalf: '<%= asset_path('star-half.png') %>',
					scoreName: 'garment[rate]',
					half: true,
					score: 0
				});
			  </script>
			  <%= f.hidden_field :user_id, value: current_user.id %>
　　　　　<!-- 星による評価機能 -->

				<div class="row">
        	<div class="form-group">
						<%= f.submit "更新", class: "btn btn-default btn-lg" %>
					</div>
				</div>

			<% end %>

			<% if @garment.errors.any? %>
				<p>エラーにより、更新できませんでした</p>
			<% end %>

		</div>
	</div>
</div>