<div class="garments-show">
  <div class="container">
    <h3 class="title">投稿詳細</h3>

    <div class="row garments-show-responsive1">
      <div class="col-sm-offset-3 col-sm-3">
        <%= image_tag @garment.image.to_s, class: "img-rounded", :size => '250x250' %>

        <!-- 星による評価機能 -->
        <div class="review-star">
      　　 <div id="star">
            <label for="review",class="control-label text-left col-sm-2 col-md-2">評価</label>
          </div>
        </div>

        <script>
          $('#star').raty({
            size :36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'garment[rate]',
            half: true,
            readOnly: true,
            score: <%= @garment.rate %>
          });
        </script>
        <!-- 星による評価機能 -->
      </div>

      <div class="col-sm-3">
        <div class="panel panel-default panel-size">
          <div class="panel-heading">
            <h5 class="panel-title"><%= @garment.title %></h5>
          </div>

          <div class="panel-body">
            <p><span><%= @garment.body %></span></p>
          </div>
        </div>

          <!-- カテゴリー -->
        <div class="garments-category">
          <span class="label label-primary">カテゴリー:<%= @garment.type %></span>
        </div>
          <!-- カテゴリー -->

          <!-- タグ機能 -->
        <div class="tag-lists">
          <span><%= render 'garments/tag_list', tag_list: @garment.tag_list %></span>
        </div>
          <!-- タグ機能 -->
      </div>
    </div>

    <div class="row garments-show-responsive2">
      <div class="col-sm-offset-3 col-sm-6">
          <!-- お気に入り機能 -->
        <div id="favorite_button_<%= @garment.id %>">
          <%= render partial: 'favorites/favorite', locals: { garment: @garment } %>
        </div>
          <!-- お気に入り機能 -->

           <!-- 投稿編集・削除機能 -->
        <div class="text-center mine-edit-delete">
      　　<% if @garment.user.id == current_user.id %>
        　　<%= link_to "投稿編集", edit_garment_path, class: "btn btn-success mine-edit-responsive" %>
        　　<%= link_to "投稿削除", garment_path(@garment), method: :delete, "data-confirm" => "本当に消してもいいですか?", class: "btn btn-danger" %>
          <% end %>
        </div>
          <!-- 投稿編集・削除機能 -->

          <!-- コメント機能 -->
        <div class="form-group">
          <h4 class="comment-title">コメント一覧</h4>
          <div id="comment_area">
            <%= render partial: 'comments/comments_area', locals: { garment: @garment, comment: @comment } %>
          </div>

          <%= form_with(model: [@garment, @comment], remote: true ) do |f| %>
            <%= f.text_area :body, class: "form-control" %>
            <%= f.submit "送信", class: "btn btn-default btn-lg" %>
          <% end %>
        </div>
          <!-- コメント機能 -->

     </div>
    </div>

  </div>
</div>