<div class="notifications">
  <div class="container">
    <div class="row">
      <h3 class="title">通知</h3>

      <%= link_to notifications_destroy_all_path, class: "destroy-all", method: :delete do %>
        <i class="fas fa-trash"></i>
        <h7>全削除</h7>
      <% end %>

      <table class="table">

        <tbody>
          <% if @notifications.exists? %>
          <% @notifications.each do |notification| %>
          <% visiter = notification.visiter %>
          <% garment = notification.garment %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="text-center">
                <%= link_to user_path(notification.visiter), class: "profile-image" do %>
                  <% if notification.visiter.profile_image? %>
                    <%= image_tag notification.visiter.profile_image.to_s, :size => "50x50" %>
                  <% else %>
                    <%= image_tag asset_path("default.png", alt: "ユーザーアイコン"), :size => '50x50' %>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td>
              <%= notification_form(notification) %><span class="moderate-font"><%= "(#{time_ago_in_words(notification.created_at)} 前)" %></span>
              <br>
              <% if !@comment.nil? %>
                <p class="text-center"><%= @comment %></p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>

      </table>

      <% else %>

        <h4>通知はありません</h4>

      <% end %>

    </div>
  </div>
</div>

