<div class="users-edit">
  <div class="container">
    <%= form_for(@user) do |f| %>

      <div class="row">
        <p id="notice"></p>
        <h2 class="user-edit-title">登録情報更新</h2>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="row">
            <%= f.label :名前, class: "control-label text-left col-sm-2 col-md-2" %><br />
          </div>
            <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="row">
            <%= f.label :プロフィール画像, class: "control-label text-left col-sm-2 col-md-2" %>
          </div>
          <div class="file-field">
            <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="row">
            <%= f.label :自己紹介文, class: "control-label text-left col-sm-2 col-md-2" %>
          </div>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.submit "更新", class: "btn btn-default btn-lg" %>
        </div>
      </div>

    <% end %>

    <% if @user.errors.any? %>
      <p>errors prohibited this user from being saved:</p>
    <% end %>

  </div>
</div>