<body class="users-show">
  <div class="container">
    <%= form_for(@user) do |f| %>

      <div class="row">
        <p id="notice"></p>
        <h2 class="user_edit" style="padding-top: 50px;">登録情報更新</h2>
        <%= f.label :名前, class: "control-label text-left col-sm-2 col-md-2" %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :プロフィール画像, class: "control-label text-left col-sm-2 col-md-2" %><br />
          <br><div class="file-field">
                <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png' %>
              </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :自己紹介文, class: "control-label text-left col-sm-2 col-md-2" %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <%= f.submit "更新", class: "btn btn-default btn-lg" %>
      </div>

    <% end %>

    <% if @user.errors.any? %>
      <p>errors prohibited this user from being saved:</p>
    <% end %>

  </div>
</body>