<div class="passwords">
	<div class="container">
		<h2 class="title">パスワード再発行</h2>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

			<div class="row">
			  <div class="form-group">
			  	<div class="row">
			  		<%= f.label :email, class: "control-label text-left col-sm-2 col-md-2" %><br />
			 		</div>
			  	<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
		  	</div>
		  </div>

		  <div class="row">
			  <div class="form-group">
		    	<%= f.submit "パスワード再発行", class: "btn btn-default" %>
		    </div>
		  </div>

			<% end %>

			<div class="row">
				<div class="form-group">
					<%= render "devise/shared/links" %>
				</div>
			</div>

	</div>
</div>
