<div class="login">
  <div class="container">
    <div class="row">
      <h2 class="login-title">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="row">
          <div class="form-group">
            <div class="row">
              <%= f.label :名前, class: "control-label text-left col-sm-2 col-md-2" %><br />
            </div>
              <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="row">
              <%= f.label :パスワード, class: "control-label text-left col-sm-2 col-md-2" %><br />
            </div>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="row">
            <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :ログインを記憶する %>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="form-group">
            <%= f.submit "ログイン", class: "btn btn-default" %>
          </div>
        </div>

      <% end %>

        <div class="row">
          <div class="form-group">
            <%= render "devise/shared/links" %>
          </div>
        </div>

    </div>
  </div>
</div>
