<div class="searches">
  <div class="container">
    <div class="row">
			<table class="table">

			<% if @range == '2' %>
				<!-- garments検索結果 -->
				<h3 class="title">投稿検索結果</h3>

				<thead>
					<tr>
						<th class="text-center">投稿者</th>
						<th>タイトル</th>
						<th>カテゴリー</th>
						<th>投稿日時</th>
					</tr>
				</thead>

				<tbody>
				<% @garments.each do |garment| %>
					<tr>
						<td><div class="text-center">
							<%= link_to user_path(garment.user), class: "profile-image" do %>
								<% if garment.user.profile_image? %>
									<%= image_tag garment.user.profile_image.to_s, :size => '50x50' %>
								<% else %>
									<img src="/assets/default.png" class="icon" alt="ユーザアイコン">
								<% end %>
							<% end %><br><div class="text-center"><%= garment.user.name %></div>
						</td>
						<td><%= link_to garment_path(garment) do %>
							  	<%= garment.title %>
							  <% end %>
						</td>
						<td><span class="label label-primary"><%= garment.type %></span></td></td>
						<td><%= garment.created_at.strftime('%Y年%m月%d日%H時%M分') %></td>
						<td><%= link_to garment_path(garment) do %>
									<p>詳細</p>
								<% end %>
						</td>
					</tr>
			  <% end %>
			  </tbody>

			<% else %>

　　　　　<!-- ユーザー検索結果 -->
				<h3 class="title">ユーザー検索結果</h3>

				<thead>
					<tr>
						<th>ユーザー</th>
						<th></th>
						<th>自己紹介文</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><div class="text-center">
							<%= link_to user_path(user), class: "profile-image" do %>
								<% if user.profile_image? %>
									<%= image_tag user.profile_image.to_s, :size => '50x50' %>
								<% else %>
									<img src="/assets/default.png" class="icon" alt="ユーザアイコン">
								<% end %>
							<% end %><br><%= user.name %></div>
						</td>
						<td></td>
						<td><%= user.introduction %></td>
						<td><%= link_to "詳細", user_path(user.id) %></td>
					</tr>
				<% end %>
				</tbody>

			<% end %>
			</table>

		</div>
	</div>
</div>